@charset 'UTF-8';
@import "@/component/template";

.disease .population-distribution {
    @extend %g-template;
    @extend %g-template-style;
    @include size(5.3rem, 5.4rem);
    @include absolute($top: 1rem, $right: 0.2rem);
    font-size: 0.12rem;

    main {
        @include flex(column, center, center);
        .content {
            @include size(100%, 50%);
            position: relative;
            @include flex(row, center, center);
            .img {
                @include bg-img("~@/assets/images/income.png");
                @include size(50px, 50px);
                @include absolute($left: 50%, $top: 41%);
                transform: translate(-50%, -50%);
            }
            > .title {
                @include absolute($left: 50%, $bottom: 4%);
                transform: translateX(-50%);
                font-size: 14px;
            }
            .echarts {
                @include size;
            }
        }
    }
}
