<article class="influnce">
    <header>
        <span>{{title}}</span>
    </header>
    <main>
        <div class="xsplit">
            <div v-for="(item,index) in 10" v-if="index>0" class="split">
            </div>
        </div>
        <div v-for="(item,index) in data" class="item" :style="'height:' + 92/data.length + '%'">
            <div class="text" :title="item.text">
                <div class="title">{{item.text}}</div>
            </div>
            <div class="warpper">
                <div class="max-min" :style="computedMaxMin(item)">
                    <div class="middle">
                        <div class="content"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="text"></div>
            <div class="warpper xAxis">
                <div v-for="(item,index) in 9" v-if="index>0" class="split">
                    {{(max/index).toFixed(0)}}
                </div>
                <div class="split">0</div>
            </div>
        </div>
    </main>
</article>