@charset 'UTF-8';
@import "@/component/template";

.psychology .influnce {
    @extend %g-template;
    @extend %g-template-style;
    @include size(5.3rem, 3rem);
    @include absolute($bottom: 1.2rem, $right: 0.2rem);
    font-size: 0.12rem;

    main {
        position: relative;
        .item {
            position: absolute;
            @include flex(column, center, center);
            .ball {
                @include size(0.6rem, 0.6rem);
                @include flex(row, center, center);
                border-radius: 50%;
                font-size: 0.2rem;
                background: linear-gradient(180deg, currentcolor 20%, rgba(53, 255, 208, 0) 50%, rgba(53, 255, 208, 0) 100%);
                border-image: linear-gradient(180deg, currentcolor, rgba(80, 227, 219, 0)) 1 1;
            }
            .text {
                font-size: 0.14rem;
            }
            &:first-child{
                top: 22%;
                left: 6%;
            }
            &:nth-child(2){
                top: 14%;
                left: 25%;
            }
            &:nth-child(3){
                top: 7%;
                left: calc(50% - 0.3rem);
            }
            &:nth-child(4){
                top: 14%;
                left: 63%;
            }
            &:last-child{
                top: 22%;
                left: 80%;
            }
        }
    }
}
