@charset 'UTF-8';
@import "@/component/template";

.psychology .influnce {
    @extend %g-template;
    @extend %g-template-style;
    @include size(5.3rem, 5.4rem);
    @include absolute($top: 1rem, $right: 0.2rem);
    clip-path: polygon(1.7% 0%, 98.2% 0%, 100% 1.6%, 100% 98.4%, 98.4% 100%, 1.4% 100%, 0% 98.2%, 0% 1.7%);
    font-size: 0.12rem;
    color: rgba(63, 176, 255, 1);

    main {
        position: relative;
        @include flex(column, flex-start, flex-start);

        .xAxis {
            @include size(100%, 1px);
            @include flex(row-reverse, space-between, baseline);
            background-color: rgba(0, 161, 255, 1);
            position: relative;

            .split {
                line-height: 0.3rem;
                position: relative;
            }

            &::before {
                content: "";
                @include absolute($left: 100%, $top: 0%);
                @include size(10px, 8px);
                background-color: rgba(0, 161, 255, 1);
                transform: translate(0.39rem, -4px);
                clip-path: polygon(0 0, 100% 50%, 0 100%);
            }

            &::after() {
                content: "风险比率";
                @include absolute($left: 100%, $top: 0px);
                width: 0.4rem;
                padding-left: 0.04rem;
                border-top: 1px solid rgba(0, 161, 255, 1);
                line-height: 0.28rem;
                overflow: visible;
                white-space: nowrap;
            }
        }

        .xsplit {
            width: calc(84% - 1.2rem);
            height: 92%;
            @include absolute($top: 0, $left: calc(3% + 1.2rem));
            @include flex(row, space-between, center);

            .split {
                @include size(1px, 101%);
                border-left: 1px dashed rgba(0, 161, 255, 0.3);

                &:first-child {
                    position: relative;

                    &::before {
                        content: "";
                        @include absolute($left: 50%, $bottom: 98%);
                        @include size(8px, 10px);
                        background-color: rgba(0, 161, 255, 1);
                        transform: translate(-5px, 0);
                        clip-path: polygon(50% 0, 100% 100%, 0 100%);
                    }
                }
            }
        }

        .item {
            @include flex(row, center, center);
            width: 84%;
            margin: 0 13% 0 3%;

            .text {
                @include flex(row, flex-start, center);
                padding-right: 2px;
                height: 100%;
                width: 1.2rem;
                font-size: 0.14rem;
                border-right: 1px solid rgba(0, 161, 255, 1);

                .title {
                    @include ellipsis;
                }
            }

            .warpper {
                flex: 1;
                position: relative;

                .max-min {
                    position: absolute;
                    height: 1px;
                    background-color: rgba(107, 217, 141, 1);

                    .middle {
                        @include size;
                        position: relative;

                        .content {
                            @include size(40%, 10px);
                            @include absolute($top: 40%, $left: 50%);
                            transform: translate(-50%, -50%);
                            background-color: rgba(107, 217, 141, 1);
                        }
                    }
                }
            }
        }
    }
}