@charset 'UTF-8';
@import "@/component/template";

.psychology .population-distribution {
    @extend %g-template;
    @extend %g-template-style;
    @include size(8rem, 3rem);
    @include absolute($bottom: 1.2rem, $left: 5.6rem);
    font-size: 0.12rem;
    clip-path: polygon(1.1% 0%, 98.8% 0%, 100% 2.6%, 100% 97.4%, 99% 100%, 1.1% 100%, 0% 97.4%, 0% 2.6%);

    main {
        @include flex(row, center, center);
        .content {
            @include size(calc(50% - 1px), 100%);
            position: relative;
            @include flex(row, center, center);
            .img {
                @include bg-img("~@/assets/images/income.png");
                @include size(50px,50px);
                @include absolute($left:50%,$top:41%);
                transform: translate(-50%,-50%);
            }
            >.title{
                @include absolute($left:50%,$bottom:4%);
                transform: translateX(-50%);
                font-size: 14px;
            }
            .echarts {
                @include size;
            }
        }
        .line {
            @include size(2px, 60px);
            background: #05374b;
        }
    }
}
