.v-login {
    @include size;
    @include flex(row, center, center);
    @include bg-img("~@/assets/images/login-bg.png");
    @include flex(row, center, center);
    background-size: 100% 100%;
    position: relative;

    .content {
        @include flex(column, center, center);
        padding: 50px;
        background: linear-gradient(180deg, rgba(24, 30, 49, .5) 0%, rgba(58, 95, 201, 0) 35%, rgba(58, 95, 201, 0.26) 72%, rgba(24, 30, 49, .5) 100%);
        border: 1px solid;
        border-image: linear-gradient(180deg, rgba(70, 127, 224, 1), rgba(92, 150, 231, 0), rgba(82, 140, 228, 0), rgba(70, 127, 224, 1)) 1 1;

        .title {
            @include flex(row, flex-start, center);
            height: .6rem;
            margin-bottom: .4rem;

            .logo {
                @include size(40px, 40px);
                @include bg-img("~@/assets/images/favicon.png");
                margin-right: 16px;
            }

            .text {
                font-size: .3rem;
                color: rgba(224, 244, 239, 1);
                text-shadow: 0rem 0rem 0.08rem rgba(0, 0, 0, 0.5);
                background: linear-gradient(180deg, rgba(70, 127, 224, 1) 0%, rgba(70, 127, 224, 1) 30%, rgba(255, 255, 255, 1) 100%);
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        .login-btn {
            @include size(116px, 40px);
            @include flex(row, center, center);
            margin: 40px auto 0;
            font-size: 16px;
            background: linear-gradient(180deg, rgba(70, 127, 224, .4), rgba(70, 127, 224, 1));
            border: 0px solid #90cbff;
            border-radius: 2px;
            color: #fff;
        }

        .ant-input-prefix {
            .anticon {
                font-size: 16px;
                color: rgba(141, 176, 255, 0.5);
            }
        }

        .ant-input,
        .ant-input:hover {
            height: 40px;
            padding-left: 40px;
            font-size: 16px;
            background-color: #192f63;
            border-color: #192f63;
            color: #fff;
        }
    }
}