<div class="v-login" @keydown.enter="login">
    <div class="content">
        <div class="title">
            <div class="logo"></div>
            <div class="text">环境与健康大数据平台</div>
        </div>
        <a-form-model ref="loginForm" :model="form" :rules="rules">
            <a-form-model-item prop="username">
                <a-input v-model="form.username" placeholder="用户名">
                    <a-icon slot="prefix" type="user" />
                </a-input>
            </a-form-model-item>
            <a-form-model-item prop="password">
                <a-input type="password" v-model="form.password" placeholder="密码">
                    <a-icon slot="prefix" type="lock" />
                </a-input>
            </a-form-model-item>
            <a-form-model-item>
                <a-button @click="login" class="login-btn">登 录</a-button>
            </a-form-model-item>
        </a-form-model>
    </div>
</div>