.ant-popover {
    width: max-content;

    &.ant-popover-placement-top,
    &.ant-popover-placement-topLeft,
    &.ant-popover-placement-topRight {
        padding-bottom: 8px;

        >.ant-popover-content>.ant-popover-arrow {
            bottom: -4px;
        }
    }

    &.ant-popover-placement-right,
    &.ant-popover-placement-rightTop,
    &.ant-popover-placement-rightBottom {
        padding-left: 8px;

        >.ant-popover-content>.ant-popover-arrow {
            left: -4px;
        }
    }

    &.ant-popover-placement-bottom,
    &.ant-popover-placement-bottomLeft,
    &.ant-popover-placement-bottomRight {
        padding-top: 8px;

        >.ant-popover-content>.ant-popover-arrow {
            top: -4px;
        }
    }

    &.ant-popover-placement-left,
    &.ant-popover-placement-leftTop,
    &.ant-popover-placement-leftBottom {
        padding-right: 8px;

        >.ant-popover-content>.ant-popover-arrow {
            right: -4px;
        }
    }
}
